* {
    font-family: 'Oswald', sans-serif;
    box-sizing: border-box;
}

body{
    width: 100vw;
    margin: 0;
    background-color: #3AAFB9;
    display: grid;
    grid-template-rows: 170px 1fr 60px;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "cabecalho"
        "principal"
        "rodape"
    ;
}

.topo{
    grid-area: cabecalho;
    width: 100%;
    background-color: #093A3E;
    text-align: center;  
    box-shadow: 0px 4px 9px -2px rgba(0,0,0,0.75);
}

.topo h1{
    font-size: 2.4em;
    color: #fff;
    font-weight: 300;
}

.topo h2{
    font-size: 1.6em;
    font-weight: 200;   
    color: #fff;
}

.principal {
    grid-area: principal;
    height: calc(100vh - 230px);
    background-color: #f0f0f0;
    padding: 20px;
}

.conteudo{
    position: relative;
    height: 100%;
    overflow-y: scroll;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.modulos > a{
    text-decoration: none;
    color: #222;
}


.modulo{
    flex-basis: 32%;
    margin-bottom: 20px;
    border-radius: 5px;
}

.modulo > h3 {
    margin: 0px;
    color: #fff;
    font-weight: 300;
    font-size: 1.5rem;
    padding: 10px 20px;
    background-color: #3AAFB9;
}

.modulo > ul {
    margin: 0px;
    padding: 10px;
    list-style: none;
}

.modulo > ul > li {
    padding: 7px;
    font-size: 1.2rem;
    cursor: pointer;
}

.modulo > ul > li > a {
    display: flex;
    text-decoration: none;
    color: #222;
}

.modulo > ul > li:hover {
    background-color: #64E9EE;
}

.rodape{
    grid-area: rodape;
    background-color:#093A3E;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.2rem;
    padding-right: 20px;
    color: #fff;
}

/* ---------------------------------- PÃGINA TEMPLATE ------------------------------------- */

body.template{
    grid-template-rows: 170px 60px 1fr 60px;
    grid-template-areas: 
        "cabecalho"
        "navegacao"
        "principal"
        "rodape";   
}

.principal-template {
    height: calc(100vh - 290px);
    grid-area: principal;
    background-color: #f0f0f0;
    padding: 5px 20px;
}

.navegacao {
    grid-area: navegacao;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #97C8EB;
}

.navegacao > a {
    text-decoration: none;
    color: #FFF;
    font-weight: 300;
    font-size: 1.3rem;
    background-color: #2196f3;
    padding: 5px 10px;
    margin-right: 10px;
    border-radius: 5px;
}

.navegacao > a:hover{
    color: #000;
}

.conteudo > .titulo {
    font-size: 2.5rem;
    font-weight: 300;
    padding-bottom: 10px;
    border-bottom: 1px solid #999;
    margin-bottom: 20px;
}

.container_template{
    background-color: #fff;
    height: calc(100vh - 290px);
    padding: 10px;
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.2);
}

.disciplinas > ul {
    margin: 0px;
    padding: 10px;
    list-style: none;
    display: flex;
    flex-direction: row;
    
}

.disciplinas> ul > li {
    padding: 7px;
    font-size: 1.2rem;
    cursor: pointer;
    flex-basis: 32%;
    margin: 5px;
    background-color: #093A3E;
    text-align: center;
    color: #fff;
}


.disciplinas > ul > li:hover {
    background-color: #97C8EB;
}

.disciplinas > ul > li > a{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #fff;
    
    
}


/* ---------------------------------- INCLUDE - SEMESTRE ------------------------------------- */

.box-container{
    width: 100%;
    padding: 15px;
    overflow-y: scroll;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.box-nav{
    width: 35%;
    background-color: #f8f9fa;
   
}

.select{
    padding: 10px;
    font-size: 1.1em;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    margin: 5px;
    
}

.select:hover{
    background-color: #ddd;
}

.select > span{
    border-bottom: 2px solid #444;
    margin-bottom: 10px;
    background-color: #97C8EB;
    padding: 4px;
}

.box-buttom{
    background-color: #97C8EB;
    width: 50px;
    height: 25px;
    border-radius: 20px;
    padding: 4px;
    position: absolute;
    right: 0;
    cursor: pointer;
    display: inline-block;
}

.check{
    display: flex;
    position: relative;
}

input[type="checkbox"]{
    opacity: 0;
    width: 0;
    height: 0;
}

.label-buttom{
    cursor: pointer; 
    display: flex;
    justify-content: center;
}

.label-buttom{
    margin: auto;
}


.label-buttom .box-buttom .buttom::before{
    content: "";
    width: 21px;
    height: 20px;
    position: absolute;
    left: 4px;
    bottom: 2.5px;
    border-radius: 50%;
    transition: .4s all ease;
    background-color: #093A3E;

}

.label-buttom .box-buttom input:checked + .buttom{
    background-color: #0deb1c;
}

.label-buttom .box-buttom input:checked + .buttom::before{
    transform: translateX(21px);
}














































.navegacao > a.verde { background-color: #4CAF50; }
.navegacao > a.vermelho { background-color: #F44336; }

.modulo.verde { border: 2px solid #4CAF50; }
.modulo.verde > h3 { background-color: #4CAF50; }

.modulo.vermelho { border: 2px solid #F44336; }
.modulo.vermelho > h3 { background-color: #F44336; }

.modulo.azul { border: 2px solid #2196F3; }
.modulo.azul > h3 { background-color: #2196F3; }

.modulo.roxo { border: 2px solid #9C27B0; }
.modulo.roxo > h3 { background-color: #9C27B0; }

.modulo.laranja { border: 2px solid #FF9800; }
.modulo.laranja > h3 { background-color: #FF9800; }

.modulo.verde-escuro { border: 2px solid #1B5E20; }
.modulo.verde-escuro > h3 { background-color: #1B5E20; }

.modulo.vermelho-escuro { border: 2px solid #B71C1C; }
.modulo.vermelho-escuro > h3 { background-color: #B71C1C; }

.modulo.azul-escuro { border: 2px solid #0D47A1; }
.modulo.azul-escuro > h3 { background-color: #0D47A1; }

.modulo.roxo-escuro { border: 2px solid #4A148C; }
.modulo.roxo-escuro > h3 { background-color: #4A148C; }

